In [1]:
# Importing packages 

# Imports the create_engine function to create a connection to a database and text to construct textual sql expressions
from sqlalchemy import create_engine, text

# Import pandas or data manipulation and analysis
import pandas as pd

In [2]:
# Setting up database connection details
host = "isba-dev-01.c3cckk0gsovf.us-east-1.rds.amazonaws.com"
username = "admin"
password = "isba_4715"
schema = "sql_project"

db_config = {
    "host": host,
    "username": username,
    "password": password,
    "schema": schema
}

# Establishing connection to a MySQL database
# driver://username:password@host/database
engine = create_engine(f"mysql+pymysql://{db_config['username']}:{db_config['password']}@{db_config['host']}/{db_config['schema']}")

In [3]:
# Converting csv into dataframes 
product_info_df = pd.read_csv('product_info.csv')

order_info_df = pd.read_csv ('order_info.csv')

In [4]:
# Checking dataframe
product_info_df.head()

,product_id,product_name,price,rating_average,rating_count
0,10184161689793,Sunburst Broad Spectrum SPF 50 Mineral Sunscreen,$38.00,4.888889,18
1,10132384514241,Meltdown Gel Cleanser made with Green Tea and ...,$30.00,4.625000,40
2,10191511847105,Clear Skin Kit: Acne Essentials,$72.00,4.444936,4976
3,7730930057409,Blume Babies: Travel Size Best Sellers Kit,$26.00,4.452452,5037
4,7392027050177,Acne Treat & Fade Bundle,$51.00,4.436506,4843

In [5]:
# Checking dataframe
order_info_df.head()

   order_id      product_id  order_date  order_quantity  customer_id
0      6152   7331751788737  2023-03-14               4        58114
1      7820   7392027050177  2023-06-25               1        80259
2      9356   7654260736193  2023-05-19               5        24324
3      7442  10191511847105  2023-04-18               5        47620
4      3860   7153156849857  2023-11-07               1        42630

In [8]:
# Creating table
table1 = "product_info"

In [6]:
# Uploading dataframe to the sql database and appending it to the specified table
product_info_df.to_sql(table1, engine, index=False, if_exists="append")

74

In [10]:
# Creating table
table2 = "order_info"

In [7]:
# Uploading dataframe to the sql database and appending it to the specified table
order_info_df.to_sql(table2, engine, index=False, if_exists="append")

50

## Query 1: Descriptive Analytics

Business Question: Which products tend to have higher rating count?

Note: should've included the order table to check the quantity but the table is randomized so it doesn't reflect accurate results

In [19]:
# Ordering products by rating count to see which product has the most reviews
query1 = text(f'''
SELECT
	p.product_id,
    p.product_name,
    p.rating_average,
    p.rating_count,
    RANK() OVER (ORDER BY rating_count DESC, rating_average DESC) AS rating_count_rank
FROM {table1} p
GROUP BY p.product_id, p.product_name, p.rating_average, p.rating_count;
''')

query1_result_df = pd.read_sql(query1, engine)

In [20]:
query1_result_df

,product_id,product_name,rating_average,rating_count,rating_count_rank
0,7730930057409,Blume Babies: Travel Size Best Sellers Kit,4.452452,5037,1
1,10191511847105,Clear Skin Kit: Acne Essentials,4.444936,4976,2
2,7627679301825,Treat & Hydrate Kit,4.442032,4882,3
3,7392027050177,Acne Treat & Fade Bundle,4.436506,4843,4
4,7153156849857,Meltdown Acne Oil,4.436506,4843,4
5,7162457587905,In the Clear,4.436506,4843,4
6,7585411793089,The Glass Skin Set,4.436506,4843,4
7,575457329203,Daydreamer Face Wash,4.613311,1187,8
8,575459688499,Hug Me Probiotic Deodorant,4.402532,790,9
9,10083237331137,Cloud 9 Bundle,4.483871,186,10
10,575462441011,Cloud 9 Cramp Oil,4.489011,182,11
11,7018341859521,Milky Fade Serum,4.849558,113,12
12,7585387282625,Meltdown Gel Cream with Ceramides,4.808511,94,13
13,6975741526209,Superpower Clay Mask,4.887097,62,14
14,10132384514241,Meltdown Gel Cleanser made with Green Tea and ...,4.625000,40,15
15,7406159495361,Skin Therapy Nourishing Face Oil,4.891892,37,16
16,7331751788737,Blume Buds Power Patches for Acne,4.729730,37,17
17,7125564883137,Sunbeam Exfoliating Mask,4.809524,21,18
18,7730931433665,Power Patches Pore Purifying Nose Strips,4.600000,20,19
19,10184161689793,Sunburst Broad Spectrum SPF 50 Mineral Sunscreen,4.888889,18,20
20,7654260736193,Hello Hydration,5.000000,5,21
21,7654281412801,Fade & Hydrate,4.750000,4,22
22,10081865105601,Cloud 9 Period Patch,4.250000,4,23
23,7652673093825,Blume Lilac Headband & Wristband Set,4.500000,2,24
24,7638180135105,Dewy Skin Kit,5.000000,1,25
25,7665488330945,Blume Buds Power Patches for Acne (48 pack),5.000000,1,25
26,1373287776307,Gift Card,5.000000,1,25

Insight: Sets, Bundles and Kits generally have higher rating_count which indicates higher sales.

Recommendation: Make travel size kits to attract customers

Prediction: More revenue and higher customer satisfaction

## Query 2: Diagnostic Analytics

Business Problem: What are the monthly trends for 2023?

In [21]:
# Counting the number of products sold, total sales, total revenue and average revenue each month
query2 = text(f'''
WITH monthly_sales AS (
    SELECT 
        MONTH(o.order_date) AS sale_month,
        o.product_id,
        SUM(o.order_quantity) AS total_sales,
        SUM(o.order_quantity * CAST(SUBSTRING(p.price, 2) AS DECIMAL(10, 2))) AS total_revenue,
        AVG(o.order_quantity * CAST(SUBSTRING(p.price, 2) AS DECIMAL(10, 2))) AS avg_revenue
    FROM {table2} o
    JOIN {table1} p ON o.product_id = p.product_id
    GROUP BY sale_month, o.product_id
    ORDER BY sale_month
)
SELECT 
    sale_month,
    COUNT(DISTINCT product_id) AS num_products_sold,
    SUM(total_sales) AS total_sales,
    SUM(total_revenue) AS total_revenue,
    AVG(avg_revenue) AS average_revenue_per_product
FROM monthly_sales
GROUP BY sale_month
ORDER BY sale_month;
''')

query2_result_df = pd.read_sql(query2, engine)

In [22]:
query2_result_df

,sale_month,num_products_sold,total_sales,total_revenue,average_revenue_per_product
0,1,6,34.0,1070.0,75.166667
1,2,5,66.0,2468.0,134.000000
2,3,4,50.0,1846.0,116.250000
3,4,6,52.0,2588.0,146.333333
4,5,3,22.0,964.0,143.333333
5,6,2,10.0,418.0,39.500000
6,7,3,18.0,468.0,42.000000
7,8,4,46.0,1838.0,102.250000
8,9,4,52.0,1734.0,96.750000
9,10,2,24.0,712.0,89.000000
10,11,4,50.0,1822.0,88.750000
11,12,3,30.0,852.0,58.000000

Insight: April has the highest products sold, sales and revenue

Recommendation: Investigate marketing strategis during April and implement it

Prediction: Increase in sales and higher revenue